.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.strings-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.string {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  padding-left: 0;
  position: relative;
  width: 800px;
}

.string:before {
  position: absolute;
  content: "";
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: #838383;
}

.string-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: calc(1 / 12 * 100% - 10px);
}

.string-item button {
  background-color: rgb(226, 250, 255);
  border: 2px solid #42b3c2;
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 40px;
  padding: 5px;
  width: 40px;
  z-index: 2;
}

.is-highlighted button {
  background-color: #1cbfdc;
}

.defined-notes {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  padding-left: 0;
  width: 800px;
}

.defined-notes li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: calc(1 / 12 * 100% - 10px);
}

.defined-notes button {
  background-color: #1cbfdc;
  border: 2px solid #42b3c2;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 900;
  display: block;
  height: 40px;
  padding: 5px;
  width: 40px;
}

.defined-notes .is-wrong {
  background-color: red;
  border: 2px solid red;
}

.defined-notes .is-correct {
  background-color: rgb(0, 228, 30);
  border: 2px solid rgb(0, 228, 30);
}
